<h3> <%= @event_number %> events for July</h3>
<br><br><br>
Number of Events: 16
<br><br><br>

<% @events.each do |event| %>
Event: <%=event[:title] %><br>
Date/Time: <%= event[:start_time] %><br>
description: <%= truncate(event[:description], :length => 140)   %><br>
<a href= <%= event[:venue_url] %> > Venue: <%= event[:venue_name] %> </a>
<br>
Address: <%= event[:venue_address] %><br>
<br><br><br><br>
<% end %><br>
